div {
    background-color: red;
    width: 100px;
    height: 100px;
}
p {
    background-color: greenyellow;
    color: blueviolet;
    cursor: pointer;
}
span {
    display: inline-block;
    width: 10px;
    height: 10px;
    color: red;
}